* {
    margin: 0;
    padding: 0;
}
html{
    box-sizing:border-box;
    height: 100%;
    line-height: 1.8px;
}
*,*:before,*:after{
    box-sizing:inherit
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0;
    height: 100%;
    line-height: 1.8px;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}
summary {
     display: list-item;
}
a{
    background-color: #ffffff;
}
a:active,a:hover{
    outline-width:0;
    color: lightgrey;
}
a:link{
    color: black;
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted;
}
b,strong{
    font-weight:bolder;
}
dfn{
    font-style:italic;
}
small{
    font-size:80%
}
img{
    border-style:none;
}
button,input,select,textarea,optgroup{
    font:inherit;
    margin:0;
}
optgroup{
    font-weight:bold;
}
button,input{
    overflow:visible;
}button,select{
     text-transform:none;
 }
button,[type=button],[type=reset],[type=submit]{
    -webkit-appearance:button;
}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0;
}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText;
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em;
}
/* End extract */
html,body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5;
}
html{
    overflow-x:hidden;
}
hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0;
}
.web-image{
    max-width:100%;
    height:auto;
}
img{
    vertical-align:middle;
}

.table{
    border-collapse:collapse;
    width: 100%;
    border:1px solid black;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
th{
    height: 50%;
    border:1px solid black;
    background-color: silver;
    padding: 10px;
    text-align: center;
    align-content: center;
}
td{
    border:1px solid black;
    padding: 10px;
}

typography {
    color : black;
    padding : 5px 15px;
}
.w3-hover-opacity {cursor: pointer;}

.image{
    padding-right: 5%;
    padding-left: 10%;
}
.icon{
    color: silver;
    font-size: 20px;
}
.po{
    margin: auto;
    float: inherit;
}

.hide{
    display: none !important;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pull-left{
    float: left !important;
}

.breadcrumbss{
    top: 10px;
    padding-right: 0;
    background: none;
    position: relative;
}

.text{
    padding-left: 15px;
}

.breadcrumbs{
    padding: 10px 0 6px;
    overflow: hidden;

}

.pad{
    padding-left: 2.5%;
    padding-top: 2px;
}

.im{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.tc{
    width: 100%;
    height: 50%;
}

.dn{
    width: 100%;
    height: 50%;
}

a.nut:hover{
    color: #555555;
    text-decoration: none;
}

a.nut:active{
    background: silver;
    text-decoration: none;
}
a.nut:link{
    color: black;
    text-decoration: none;
}

a.nut1:hover{
    color: #555555;
    text-decoration: none;
}

a.nut1:active{
    background: silver;
    text-decoration: none;
}
a.nut1:link{
    color: black;
    text-decoration: none;
}

a.link-web{
    text-decoration: none;
    color: silver;
}
a.link-web:hover{
    text-decoration: none;
    color: black;
}

a.link-nut:link{
    color: #555555;
    text-decoration: none;
}
a.link-nut:hover{
    color: black;
    text-decoration: none;
}

a.link-link:link{
    color: black;
    text-decoration: none;
}
a.link-link:hover{
    color: lightgrey;
    text-decoration: none;
}

.fab{
    color: #555555;
}
.fab:hover{
    color: black;
}

a.link-bre:hover{
    color: lightgrey;
    text-decoration: none;
}



